:root {
    --main-color: #46A4C7;
    --secondary-color: #1E2B3C;
    --tertiary-color: #34455A;
    --button-color: #E57A09;
    --text-color: #F2F2F2;
    --title-font: 'Roboto';
    --text-font: 'Roboto';
    --card-color-1: #090909;
    --card-color-2: #34455A;
}

body {
    background-color: var(--main-color);
    margin: 0;
}

.nav-container {
    background-color: var(--secondary-color);
    color: var(--text-color);
    /* border: 5px solid var(--aesthetic-color);
    border-width: 0 0 3px 0; */
    padding: 15px 0 15px 35px;
    font-family: var(--title-font);
    font-size: 40px;
    font-weight: bold;
}

.filter-container {
    background-color: var(--tertiary-color);
    color: var(--text-color);
    font-family: var(--text-font);
    padding: 5px 0 5px 35px;

}

.card-container {
    background-image: linear-gradient(135deg, var(--card-color-1), var(--card-color-2));
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: 20px;
    height: 220px;
    width: 360px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 20%), 
                0px 6px 10px 0px rgba(0, 0, 0, 14%),
                0px 1px 18px 0px rgba(0, 0, 0, 12%);
}

.card-text-container {
    position: relative;
    overflow: hidden;
    padding-top: 30px;
    padding-left: 25px;
}

.card-book-title {
    list-style-type: none;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

.card-content {
    list-style-type: none;
    padding: 5px;
    font-size: 15px;
}

.add-book-btn-container {
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    background-color: var(--button-color);
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 20%), 
                0px 6px 10px 0px rgba(0, 0, 0, 14%),
                0px 1px 18px 0px rgba(0, 0, 0, 12%);
}

.add-book-icon {
    color: white;
    font-size: 40px;
    font-weight: bold;
}