:root {
    --main-color: #46A4C7;
    --secondary-color: #1E2B3C;
    --tertiary-color: #34455A;
    --button-color: #E57A09;
    --text-color: #F2F2F2;
    --title-font: 'Roboto';
    --text-font: 'Roboto';
    --card-color-1: #090909;
    --card-color-2: #34455A;
    --form-color: #ededed;
    --form-btn-hover-color: rgba(0, 0, 0, .1); 
}

body {
    background-color: var(--main-color);
    margin: 0;
}

.nav-container {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 15px 0 15px 35px;
    font-family: var(--title-font);
    font-size: 40px;
    font-weight: bold;
}

.filter-container {
    background-color: var(--tertiary-color);
    color: var(--text-color);
    font-family: var(--text-font);
    padding: 5px 0 5px 35px;

}

.books-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 50px;
    gap: 100px;
}

.card-container {
    position: relative;
    background-image: linear-gradient(135deg, var(--card-color-1), var(--card-color-2));
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: 20px;
    height: 220px;
    width: 380px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 20%), 
                0px 6px 10px 0px rgba(0, 0, 0, 14%),
                0px 1px 18px 0px rgba(0, 0, 0, 12%);
}

.card-text-container {
    position: relative;
    overflow: hidden;
    padding-top: 15px;
    padding-left: 25px;
}

.card-book-title {
    list-style-type: none;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

.card-content {
    list-style-type: none;
    padding: 5px;
    font-size: 15px;
}

.remove-card-btn {
    z-index: 1;
    opacity: .8;
    background: transparent;
    color: white;
    font-family: var(--text-font);
    font-size: 23px;
    color: var(--text-color);
    position: absolute;
    right: 10px;
    top: 5px;
    border: none;
    transition: .5s;
}

.remove-card-btn:hover {
    transform: scale(1.5);
    cursor: pointer;
}

.add-book-btn-container {
    display: flex;
    position: fixed;
    border: none;
    bottom: 20px;
    left: 95%;
    height: 50px;
    width: 50px;
    background: linear-gradient(135deg, var(--button-color)  0%, #CE4257 100%);
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 20%), 
                0px 6px 10px 0px rgba(0, 0, 0, 14%),
                0px 1px 18px 0px rgba(0, 0, 0, 12%);
    transition: .4s;
    cursor: pointer;
}

.add-book-icon {
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.add-book-btn-action {
    transform: rotate(0.5turn) scale(1.2);;    
}

.form-popup {
    z-index: 3;
    display: none;
    position: fixed;
    font-family: var(--text-font);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--form-color);
    height: 600px;
    width: 450px;
    border-radius: 5px;
}

.close-form-btn {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 10px;
    font-family: var(--text-font);
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    z-index: 3;
    
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
}

.close-form-btn:hover {
    background-color: var(--form-btn-hover-color);
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-title {
    opacity: .6;
    font-size: 25px;
    text-align: center;
}

.form-item-container {
    margin: auto;
    width: 80%;
}

.input-textbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    height: 35px;
    font-family: var(--text-font);
}

.input-textbox {
    box-sizing: border-box;
    width: 95%;
    height: 30px;
    border: none;
    outline: none;
    background-color: var(--form-color);
}

.form-btn-container {
    margin-top: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    
}

.submit-btn {
    width: 220px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--text-font);
    background-color: var(--form-color);
    border: 1px solid black; 
}

.clear-btn {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--text-font);
    background-color: var(--form-color);
    border: 1px solid black;
}

.submit-btn:hover {
    background-color: var(--form-btn-hover-color);
}

.clear-btn:hover {
    background-color: var(--form-btn-hover-color);
}

.black-overlay {
    z-index: 2;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    bottom: 0;
}